In [1]:
import os
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

## Factor Index Preprocessing:

In [4]:
index_dump_df = pd.read_csv("D:\Macro Research\Data\Raw Data\index Dump.csv")
index_dump_df

,date,ticker,name,exchange,open,high,low,close,volume,last_updated
0,2025-08-08,NIFTY 200,NIFTY 200,NSE,13695.15,13703.90,13541.40,13555.15,0,2025-10-15 10:53:14.829
1,2025-08-11,NIFTY 200,NIFTY 200,NSE,13559.10,13691.75,13540.95,13682.25,0,2025-10-15 10:53:14.829
2,2025-08-12,NIFTY 200,NIFTY 200,NSE,13677.95,13743.55,13626.05,13636.70,0,2025-10-15 10:53:14.829
3,2025-08-13,NIFTY 200,NIFTY 200,NSE,13689.50,13737.05,13669.15,13713.60,0,2025-10-15 10:53:14.829
4,2025-08-14,NIFTY 200,NIFTY 200,NSE,13720.05,13743.90,13687.40,13707.70,0,2025-10-15 10:53:14.829
...,...,...,...,...,...,...,...,...,...,...
801439,2025-08-01,NIFTY 200,NIFTY 200,NSE,13802.65,13813.30,13661.65,13678.50,0,2025-10-15 10:53:14.829
801440,2025-08-04,NIFTY 200,NIFTY 200,NSE,13692.35,13799.10,13667.80,13792.60,0,2025-10-15 10:53:14.829
801441,2025-08-05,NIFTY 200,NIFTY 200,NSE,13794.45,13795.90,13711.15,13750.75,0,2025-10-15 10:53:14.829
801442,2025-08-06,NIFTY 200,NIFTY 200,NSE,13755.10,13762.05,13662.00,13686.15,0,2025-10-15 10:53:14.829
801443,2025-08-07,NIFTY 200,NIFTY 200,NSE,13623.95,13728.35,13545.25,13706.85,0,2025-10-15 10:53:14.829

In [5]:
unique_ticker = index_dump_df["ticker"].unique()
unique_ticker

array(['NIFTY 200', 'HANGSENG BEES-NAV', 'UK100', 'INDIA VIX',
       'NIFTY50 DIV POINT', 'NIFTY200 QUALTY30', 'NIFTY ALPHA 50',
       'NIFTY MIDCAP 150', 'NIFTY MIDSML 400', 'NIFTY SMLCAP 50',
       'NIFTY SMLCAP 100', 'NIFTY SMLCAP 250', 'NIFTY50 VALUE 20',
       'NIFTY100 LIQ 15', 'NIFTY 500', 'NIFTY CPSE', 'NIFTY GS 4 8YR',
       'NIFTY GS 8 13YR', 'NIFTY GS 10YR', 'NIFTY GS 10YR CLN',
       'NIFTY GS 11 15YR', 'NIFTY GS 15YRPLUS', 'NIFTY GS COMPSITE',
       'NIFTY GROWSECT 15', 'NIFTY MID LIQ 15', 'NIFTY NEXT 50',
       'NIFTY PVT BANK', 'NIFTY50 EQL WGT', 'NIFTY100 EQL WGT',
       'NIFTY100 LOWVOL30', 'NIFTY100 QUALTY30', 'MCXGOLDEX',
       'NIFTY ALPHALOWVOL', 'AUTO', 'BHRT22', 'BSE CD', 'BSE CG',
       'BSE HC', 'BSE IT', 'BSE100', 'BSE200', 'BSE500', 'BSEDSI',
       'BSEEVI', 'BSEFMC', 'BSEIPO', 'BSELVI', 'BSEMOI', 'BSEPBI',
       'BSEPSU', 'BSEQUI', 'CARBON', 'CDGS', 'CPSE', 'DFRGRI', 'DOL100',
       'DOL200', 'DOL30', 'ENERGY', 'ESG100', 'GREENX', 'INDSTR', 'INFRA',
       'LCTMCI', 'LMI250', 'LRGCAP', 'METALINDEX', 'MFG', 'MID150',
       'MIDCAP', 'MIDSEL', 'MSL400', 'OILGAS', 'POWER', 'REALTY',
       'SML250', 'SMLCAP', 'SMLSEL', 'SNSX50', 'SNXT50', 'TECK', 'TELCOM',
       'UTILS', 'NIFTY MID SELECT', 'NIFTY FINSRV25 50',
       'NIFTY HEALTHCARE', 'NIFTY CONSR DURBL', 'NIFTY OIL AND GAS',
       'NIFTY500 MULTICAP', 'NIFTY LARGEMID250', 'NIFTY100ESGSECLDR',
       'NIFTY200MOMENTM30', 'NIFTY TOTAL MKT', 'NIFTY MICROCAP250',
       'NIFTY M150 QLTY50', 'NIFTY INDIA MFG', 'NIFTY IND DIGITAL',
       'NIFTY100 ESG', 'MCXMETLDEX', 'MCXCRUDEX', 'MCXCOPRDEX',
       'MCXCOMPDEX', 'MCXBULLDEX', 'MCXSILVDEX', 'NIFTY200 ALPHA 30',
       'NIFTYM150MOMNTM50', 'NIFTY TATA 25 CAP', 'NIFTY MULTI MFG',
       'NIFTY MULTI INFRA', 'NIFTY MIDSML HLTH', 'SHANGHAICHINA',
       'HANGSENG', 'AUS200', 'FRANCE40', 'GERMANY40', 'JAPAN225',
       'SENSEX NEXT 30', 'BSE SME IPO', 'BSE SERVICES',
       'FINANCIAL SERVICES', 'US500', 'BSE SENSEX SIXTY',
       'BSE SENSEX SIXTY 65:35', 'BSE POWER & ENERGY',
       'BSE 200 EQUAL WEIGHT', 'BSE INTERNET ECONOMY',
       'BSE CAPITAL MKTS & INSURANCE', 'BSE SELECT BUSINESS GROUPS',
       'NIFTY AQL 30', 'NIFTY AQLV 30', 'NIFTY CORP MAATR', 'NIFTY EV',
       'NIFTY HIGHBETA 50', 'NIFTY LOW VOL 50', 'NIFTY MOBILITY',
       'NIFTY MULTI MQ 50', 'NIFTY NEW CONSUMP', 'NIFTY QLTY LV 30',
       'NIFTY SML250 Q50', 'NIFTY TOP 10 EW', 'NIFTY TOP 15 EW',
       'NIFTY TOP 20 EW', 'NIFTY100 ALPHA 30', 'NIFTY100 ENH ESG',
       'NIFTY200 VALUE 30', 'NIFTY500 EW', 'NIFTY500 VALUE 50', 'US30',
       'NIFTY500MOMENTM50', 'NIFTYMS400 MQ 100', 'NIFTYSML250MQ 100',
       'NIFTY COREHOUSING', 'NIFTY FINSEREXBNK', 'NIFTY HOUSING',
       'NIFTY IPO', 'NIFTY MS FIN SERV', 'NIFTY MS IND CONS',
       'NIFTY MS IT TELCM', 'NIFTY NONCYC CONS', 'NIFTY RURAL',
       'NIFTY SHARIAH 25', 'NIFTY TRANS LOGIS', 'NIFTY50 SHARIAH',
       'NIFTY500 LMS EQL', 'NIFTY500 SHARIAH', 'SENSEX',
       'NIFTY IND DEFENCE', 'NIFTY IND TOURISM', 'NIFTY CAPITAL MKT',
       'BSE 1000', 'BSE PSU BANK', 'NIFTY 50', 'NIFTY MIDCAP 100',
       'BANKEX', 'NIFTY BANK', 'ALLCAP', 'NIFTY 100', 'NIFTY DIV OPPS 50',
       'NIFTY COMMODITIES', 'NIFTY CONSUMPTION', 'NIFTY FIN SERVICE',
       'NIFTY50 PR 2X LEV', 'NIFTY50 PR 1X INV', 'NIFTY50 TR 2X LEV',
       'NIFTY50 TR 1X INV', 'NIFTY IT', 'NIFTY MIDCAP 50', 'NIFTY REALTY',
       'NIFTY INFRA', 'NIFTY ENERGY', 'NIFTY FMCG', 'NIFTY MNC',
       'NIFTY PHARMA', 'NIFTY PSE', 'NIFTY PSU BANK', 'NIFTY SERV SECTOR',
       'NIFTY AUTO', 'NIFTY METAL', 'NIFTY MEDIA',
       'BSE INDIA SECT LEADER', 'BHARATBOND-APR33', 'BHARATBOND-APR32',
       'BHARATBOND-APR31', 'BHARATBOND-APR30', 'NIFTY50 USD',
       'BSE 500 QUALITY 50', 'BSE 500 MOMENTUM 50', 'USCOMPOSITE',
       'GIFT NIFTY', 'US100', 'US10YRYIELD'], dtype=object)

In [8]:
factor_indices = {
    "MKT": ["NIFTY 500"],                      # Market
    "SMB_big": ["NIFTY 100"],                  # Large
    "SMB_small": ["NIFTY SMLCAP 250"],         # Small
    "HML": ["NIFTY500 VALUE 50"],              # Value
    "MOM": ["NIFTY500MOMENTM50"],              # Momentum
    "RMW": ["NIFTY100 QUALTY30"],              # Profitability (Quality)
    "CMA": ["NIFTY LOW VOL 50"],               # Low Investment
}

factor_data = {}

for factor, tickers in factor_indices.items():
    df_factor = (
        index_dump_df[index_dump_df["ticker"].isin(tickers)]
        .set_index("date")
        [["ticker", "open", "high", "low", "close"]]
        .sort_index()
    )
    factor_data[factor] = df_factor

In [11]:
factor_data["HML"]

                       ticker      open      high       low     close
date
2005-04-01  NIFTY500 VALUE 50   1000.00   1000.00   1000.00   1000.00
2005-04-04  NIFTY500 VALUE 50    994.18    994.18    994.18    994.18
2005-04-05  NIFTY500 VALUE 50    980.92    980.92    980.92    980.92
2005-04-06  NIFTY500 VALUE 50   1001.34   1001.34   1001.34   1001.34
2005-04-07  NIFTY500 VALUE 50   1001.88   1001.88   1001.88   1001.88
...                       ...       ...       ...       ...       ...
2025-11-12  NIFTY500 VALUE 50  15195.40  15355.45  15183.50  15253.25
2025-11-13  NIFTY500 VALUE 50  15312.55  15351.40  15245.15  15258.95
2025-11-14  NIFTY500 VALUE 50  15230.40  15313.65  15156.75  15247.10
2025-11-17  NIFTY500 VALUE 50  15253.95  15348.05  15232.05  15300.60
2025-11-18  NIFTY500 VALUE 50  15298.90  15299.35  15157.60  15191.00

[5118 rows x 5 columns]

In [12]:
combined_factor_df = pd.concat(factor_data, names=["factor", "date"])
combined_factor_df

                             ticker      open      high       low     close
factor date
MKT    2005-01-03         NIFTY 500   1818.55   1836.65   1816.60   1834.75
       2005-01-04         NIFTY 500   1838.35   1841.15   1828.55   1831.30
       2005-01-05         NIFTY 500   1822.45   1826.30   1725.60   1769.20
       2005-01-06         NIFTY 500   1768.95   1773.90   1722.50   1741.10
       2005-01-07         NIFTY 500   1743.90   1761.95   1739.70   1758.05
...                             ...       ...       ...       ...       ...
CMA    2025-11-12  NIFTY LOW VOL 50  25471.15  25554.95  25404.45  25551.70
       2025-11-13  NIFTY LOW VOL 50  25604.50  25683.20  25500.25  25565.10
       2025-11-14  NIFTY LOW VOL 50  25509.00  25576.95  25429.75  25557.35
       2025-11-17  NIFTY LOW VOL 50  25628.10  25681.25  25581.25  25666.25
       2025-11-18  NIFTY LOW VOL 50  25670.25  25675.05  25500.60  25525.30

[34757 rows x 5 columns]

In [15]:
base_path = os.path.abspath("..")     # go up from Notebooks/
save_folder = os.path.join(base_path, "Data", "Processed Data", "factor_ohlc")

os.makedirs(save_folder, exist_ok=True)

for factor, df_factor in factor_data.items():
    output_path = os.path.join(save_folder, f"{factor}.csv")
    df_factor.to_csv(output_path, index=True)

print("Saved all factor files to:", save_folder)

Saved all factor files to: D:\Macro Research\Data\Processed Data\factor_ohlc

## VIX Data Preprocessing:

In [16]:
ind_vix_df = pd.read_csv("D:\Macro Research\Data\Raw Data\Indian VIX.csv",parse_dates=["date"])
ind_vix_df.set_index('date', inplace=True)
ind_vix_df.sort_index()
ind_vix_df

,ticker,name,exchange,open,high,low,close,volume,last_updated
date,,,,,,,,,
2009-03-02,INDIA VIX,INDIA VIX,NSE,43.19,43.38,41.44,43.17,0,2025-10-15 10:53:22.600
2009-03-03,INDIA VIX,INDIA VIX,NSE,43.17,43.90,41.20,43.89,0,2025-10-15 10:53:22.600
2009-03-04,INDIA VIX,INDIA VIX,NSE,43.89,43.89,42.16,42.52,0,2025-10-15 10:53:22.600
2009-03-05,INDIA VIX,INDIA VIX,NSE,42.52,42.71,40.40,41.49,0,2025-10-15 10:53:22.600
2009-03-06,INDIA VIX,INDIA VIX,NSE,41.49,41.49,37.57,38.15,0,2025-10-15 10:53:22.600
...,...,...,...,...,...,...,...,...,...
2025-11-10,INDIA VIX,INDIA VIX,NSE,12.56,12.93,11.41,12.32,0,2025-11-10 12:33:11.583
2025-11-11,INDIA VIX,INDIA VIX,NSE,12.30,13.01,11.99,12.49,0,2025-11-11 12:30:09.746
2025-11-12,INDIA VIX,INDIA VIX,NSE,12.49,12.71,11.44,12.18,0,2025-11-12 12:29:37.408
2025-11-13,INDIA VIX,INDIA VIX,NSE,12.11,12.27,11.23,12.10,0,2025-11-13 12:29:53.081
2025-11-14,INDIA VIX,INDIA VIX,NSE,12.16,12.45,11.80,11.93,0,2025-11-14 11:01:22.765

In [19]:
ind_vix_df = ind_vix_df[["ticker", "open", "high", "low", "close"]]
save_folder = os.path.join(base_path, "Data", "Processed Data", "vix")
os.makedirs(save_folder, exist_ok=True)
ind_vix_df.to_csv(os.path.join(save_folder, "ind_vix.csv"), index=True)
print("Indian VIX saved to:", save_folder)

Indian VIX saved to: D:\Macro Research\Data\Processed Data\vix

In [20]:
us_vix_df = pd.read_csv("D:\Macro Research\Data\Raw Data\hist_prices_daily.csv",parse_dates=["Date"])
us_vix_df.set_index('Date', inplace=True)
us_vix_df.sort_index()
us_vix_df

               .SPX     .NSEI  .NIFSMCP100   .VIX  .NIFMDCP100
Date
1995-12-29   615.93       NaN          NaN    NaN          NaN
1996-01-01      NaN    908.01          NaN  44.28          NaN
1996-01-02   620.73    900.38          NaN  12.19          NaN
1996-01-03   621.32    895.96          NaN  12.10          NaN
1996-01-04   617.70    889.67          NaN  13.78          NaN
...             ...       ...          ...    ...          ...
2025-11-10  6832.43  25574.35     18138.60  17.60     60124.25
2025-11-11  6846.61  25694.95     18101.40  17.28     60427.00
2025-11-12  6850.92  25875.80     18250.45  17.51     60902.30
2025-11-13  6737.49  25879.15     18183.65  20.00     60692.05
2025-11-14  6734.11  25910.05     18252.50  19.83     60739.20

[7854 rows x 5 columns]

In [22]:
us_vix_df = us_vix_df[[".VIX"]]
us_vix_df.to_csv(os.path.join(save_folder, "us_vix.csv"), index=True)
print("US VIX saved to:", save_folder)

US VIX saved to: D:\Macro Research\Data\Processed Data\vix

## Valuation Metrics Data Preprocessing:

In [28]:
us_cape = pd.read_csv(r"D:\Macro Research\Data\Raw Data\us_cape.csv")
us_cape

         Date  Unnamed: 1
0     1871.01         NaN
1     1871.02         NaN
2     1871.03         NaN
3     1871.04         NaN
4     1871.05         NaN
...       ...         ...
1853  2025.06       36.11
1854  2025.07       37.47
1855  2025.08       37.96
1856  2025.09       38.85
1857  2025.10       39.51

[1858 rows x 2 columns]

In [29]:
def parse_cape_date(x):
    year, month = x.split(".")
    # If month is 1 digit AND equals "1", interpret as October
    if len(month) == 1:
        if month == "1":
            month = "10"  # October
        else:
            raise ValueError(f"Unexpected 1-digit month code: {month}")
    # Already proper 2-digit months 01–12
    return f"{year}-{month}-01"

us_cape["Date"] = us_cape["Date"].astype(str).apply(parse_cape_date)
us_cape["Date"] = pd.to_datetime(us_cape["Date"]) + pd.offsets.MonthEnd(1)
us_cape = us_cape.rename(columns={"Unnamed: 1": "US CAPE"})

In [33]:
save_folder = os.path.join(base_path, "Data", "Processed Data", "cape")

os.makedirs(save_folder, exist_ok=True)

output_path = os.path.join(save_folder, "us_cape.csv")
us_cape.to_csv(output_path, index=True)

print("Saved CAPE month-end file at:", output_path)

Saved CAPE month-end file at: D:\Macro Research\Data\Processed Data\cape\us_cape.csv

In [34]:
ind_cape = pd.read_csv("D:\Macro Research\Data\Raw Data\india_cape.csv",parse_dates=["Date"])
ind_cape.set_index('Date', inplace=True)
ind_cape.sort_index()
ind_cape

,BSE Sensex CAPE 10,BSE Sensex CAPE 7,BSE Sensex CAPE 5,NIFTY 500 CAPE 10,NIFTY 500 CAPE 7,NIFTY 500 CAPE 5
Date,,,,,,
1995-04-30,NaN,NaN,35.67,NaN,NaN,NaN
1995-05-31,NaN,NaN,33.25,NaN,NaN,NaN
1995-06-30,NaN,NaN,33.69,NaN,NaN,NaN
1995-07-31,NaN,NaN,32.58,NaN,NaN,NaN
1995-08-31,NaN,NaN,32.55,NaN,NaN,NaN
...,...,...,...,...,...,...
2025-06-30,34.90,32.88,30.48,41.42,37.76,33.40
2025-07-31,34.54,32.51,30.03,41.10,37.37,32.94
2025-08-31,33.53,31.53,29.02,39.66,35.96,31.58
2025-09-30,33.53,31.49,28.86,39.80,35.98,31.47
2025-10-31,34.09,31.99,29.18,40.24,36.27,31.58

In [35]:
output_path = os.path.join(save_folder, "ind_cape.csv")
ind_cape.to_csv(output_path, index=True)

print("Saved CAPE month-end file at:", output_path)

Saved CAPE month-end file at: D:\Macro Research\Data\Processed Data\cape\ind_cape.csv

In [36]:
nifty_pe_df = pd.read_excel("D:\Macro Research\Data\Raw Data\Bloomberg_data.xlsx", sheet_name='Sheet6', parse_dates = ['Date'])
nifty_pe_df = nifty_pe_df.set_index('Date')
nifty_pe_df

            NIFTY Index - Price Earnings Ratio (P/E)
Date
2002-09-30                                   13.3168
2002-12-31                                   15.4252
2003-06-30                                   13.8178
2003-09-30                                   14.2316
2003-12-31                                   19.4329
...                                              ...
2024-12-31                                   22.1552
2025-03-31                                   21.8411
2025-06-30                                   24.6880
2025-09-30                                   22.5358
2025-11-14                                   23.9381

[91 rows x 1 columns]

In [37]:
nifty_eps_df = pd.read_excel("D:\Macro Research\Data\Raw Data\Bloomberg_data.xlsx", sheet_name='Sheet7', parse_dates = ['Date'])
nifty_eps_df = nifty_eps_df.set_index('Date')
nifty_eps_df

            NIFTY Index - Trailing 12M Earnings per Share
Date
2002-09-30                                        70.3866
2002-12-31                                        69.0140
2003-06-30                                        81.2225
2003-09-30                                        98.7905
2003-12-31                                        95.9691
...                                                   ...
2024-12-31                                      1049.6105
2025-03-31                                      1086.5020
2025-06-30                                      1091.3723
2025-09-30                                      1127.8097
2025-11-14                                      1110.3036

[91 rows x 1 columns]

In [38]:
nifty_pb_df = pd.read_excel("D:\Macro Research\Data\Raw Data\Bloomberg_data.xlsx", sheet_name='Sheet9', parse_dates = ['Date'])
nifty_pb_df = nifty_pb_df.set_index('Date')
nifty_pb_df

            NIFTY Index - Price to Book Ratio
Date
2002-09-30                             2.1957
2002-12-31                             2.4947
2003-03-31                             2.2017
2003-06-30                             2.3306
2003-09-30                             2.7830
...                                       ...
2024-12-31                             3.5193
2025-03-31                             3.4785
2025-06-30                             3.5073
2025-09-30                             3.3196
2025-11-14                             3.5129

[94 rows x 1 columns]

In [39]:
nifty_div_yield_df = pd.read_excel("D:\Macro Research\Data\Raw Data\Bloomberg_data.xlsx", sheet_name='Sheet8', parse_dates = ['Date'])
nifty_div_yield_df = nifty_div_yield_df.set_index('Date')
nifty_div_yield_df

            NIFTY Index - Dividend 12 Month Yld - Gross
Date
2000-06-30                                       0.9510
2000-09-30                                       1.3230
2000-12-31                                       1.3278
2001-03-31                                       1.2634
2001-06-30                                       1.4570
...                                                 ...
2024-12-31                                       1.2960
2025-03-31                                       1.3191
2025-06-30                                       1.2454
2025-09-30                                       1.3177
2025-11-14                                       1.2801

[103 rows x 1 columns]

In [41]:
valuation_data = {'nifty_pe': nifty_pe_df,
                'nifty_eps': nifty_eps_df,
                'nifty_pb': nifty_pb_df,
                'nifty_div': nifty_div_yield_df
                  }

# --- Path to Processed Data folder ---
base_path = os.path.abspath("..")  # move up from Notebooks/
save_folder = os.path.join(base_path, "Data", "Processed Data", "valuation_metrics")

# Create folder if not exists
os.makedirs(save_folder, exist_ok=True)

# --- Save each valuation metric dataframe ---
for name, df_val in valuation_data.items():
    file_path = os.path.join(save_folder, f"{name}.csv")
    df_val.to_csv(file_path, index=True)

print("Saved all valuation metrics to:", save_folder)

Saved all valuation metrics to: D:\Macro Research\Data\Processed Data\valuation_metrics

## Economic Data Preprocessing:

In [42]:
macro_monthly_df = pd.read_csv('D:\Macro Research\Data\Raw Data\monthly_econ-cpi-wpi-fdi.csv', parse_dates = ['Date'])
macro_monthly_df = macro_monthly_df.set_index('Date')
macro_monthly_df

,"CPI, Inflation rate",FDI,"India, WPI Inflation- Actual, Chg Y/Y"
Date,,,
2000-01-31,2.619048,1.190000e+08,NaN
2000-02-29,3.614458,2.900000e+08,NaN
2000-03-31,4.830918,2.570000e+08,NaN
2000-04-30,5.542169,8.300000e+07,NaN
2000-05-31,5.011933,3.490000e+08,NaN
...,...,...,...
2025-06-30,2.545969,2.507000e+09,-0.13
2025-07-31,2.662929,5.039000e+09,-0.58
2025-08-31,3.155680,-6.160000e+08,0.52
2025-09-30,2.791347,NaN,0.13
2025-10-31,NaN,NaN,-1.21

In [43]:
macro_quarterly_df = pd.read_csv('D:\Macro Research\Data\Raw Data\quarterly_econ-gdp.csv', parse_dates = ['Date'])
macro_quarterly_df = macro_quarterly_df.set_index('Date')
macro_quarterly_df

            GDP, Chg P/P
Date
2011-09-30          -2.9
2011-12-31           8.9
2012-03-31           6.3
2012-06-30          -6.8
2012-09-30          -0.4
2012-12-31           6.8
2013-03-31           5.2
2013-06-30          -4.9
2013-09-30           0.4
2013-12-31           6.0
2014-03-31           4.0
2014-06-30          -2.4
2014-09-30           1.0
2014-12-31           3.3
2015-03-31           5.2
2015-06-30          -2.0
2015-09-30           1.5
2015-12-31           2.5
2016-03-31           7.1
2016-06-30          -2.4
2016-09-30           2.4
2016-12-31           1.4
2017-03-31           4.8
2017-06-30          -2.5
2017-09-30           1.6
2017-12-31           2.7
2018-03-31           7.0
2018-06-30          -3.8
2018-09-30           0.6
2018-12-31           2.5
2019-03-31           6.5
2019-06-30          -4.4
2019-09-30          -0.1
2019-12-31           1.5
2020-03-31           6.2
2020-06-30         -28.6
2020-09-30          22.3
2020-12-31           9.7
2021-03-31           7.8
2021-06-30         -15.2
2021-09-30           9.6
2021-12-31           5.4
2022-03-31           6.7
2022-06-30          -7.9
2022-09-30           2.3
2022-12-31           4.3
2023-03-31           8.8
2023-06-30          -5.5
2023-09-30           2.0
2023-12-31           4.4
2024-03-31           7.6
2024-06-30          -7.1
2024-09-30           1.2
2024-12-31           5.2
2025-03-31           8.6
2025-06-30          -6.7

In [44]:
fred_ind_cpi = pd.read_csv("D:\Macro Research\Data\Raw Data\CPALTT01INM659N.csv",parse_dates=['observation_date'])
fred_ind_cpi.set_index('observation_date', inplace=True)
fred_ind_cpi

                  CPALTT01INM659N
observation_date
1958-01-01               3.712871
1958-02-01               2.722772
1958-03-01               2.722772
1958-04-01               1.699029
1958-05-01               2.891566
...                           ...
2024-11-01               3.882099
2024-12-01               3.530259
2025-01-01               3.095752
2025-02-01               2.586207
2025-03-01               2.951764

[807 rows x 1 columns]

In [45]:
ind_int_rate = pd.read_csv("D:\Macro Research\Data\Raw Data\INTDSRINM193N.csv",parse_dates=['observation_date'])
ind_int_rate.set_index('observation_date', inplace=True)
ind_int_rate

                  INTDSRINM193N
observation_date
1968-01-01                 6.00
1968-02-01                 6.00
1968-03-01                 5.00
1968-04-01                 5.00
1968-05-01                 5.00
...                         ...
2022-03-01                 4.25
2022-04-01                 4.25
2022-05-01                 4.65
2022-06-01                 5.15
2022-07-01                 5.15

[655 rows x 1 columns]

In [46]:
ind_repo_df = pd.read_excel("D:\Macro Research\Data\Raw Data\Bloomberg_data.xlsx",sheet_name='Sheet3', parse_dates = ['Date'])
ind_repo_df = ind_repo_df.set_index('Date')
ind_repo_df

            INRPYLDP Index
Date
2001-04-27            6.75
2001-05-24            6.75
2001-05-28            6.50
2001-10-01            6.50
2001-10-18            8.50
...                    ...
2025-02-07            6.25
2025-04-09            6.00
2025-06-06            5.50
2025-08-06            5.50
2025-10-01            5.50

[144 rows x 1 columns]

In [47]:
economics_data = {"eikon_cpi_fdi_wpi": macro_monthly_df,
                  "GDP change": macro_quarterly_df,
                  "fred_cpi": fred_ind_cpi,
                  "indian_int_rate": ind_int_rate,
                  "indian_repo": ind_repo_df}

# --- Path to Processed Data folder ---
base_path = os.path.abspath("..")  # move up from Notebooks/
save_folder = os.path.join(base_path, "Data", "Processed Data", "Economics Data")
os.makedirs(save_folder, exist_ok=True)

# --- Save each valuation metric dataframe ---
for name, df_val in economics_data.items():
    file_path = os.path.join(save_folder, f"{name}.csv")
    df_val.to_csv(file_path, index=True)

print("Saved all valuation metrics to:", save_folder)

Saved all valuation metrics to: D:\Macro Research\Data\Processed Data\Economics Data

## Fixed Income Data Preprocessing:

In [48]:
us_10_yield_df = pd.read_csv("D:\Macro Research\Data\Raw Data\DGS10.csv",parse_dates = ['observation_date'])
us_10_yield_df = us_10_yield_df.set_index('observation_date')
us_10_yield_df

                  DGS10
observation_date
1962-01-02         4.06
1962-01-03         4.03
1962-01-04         3.99
1962-01-05         4.02
1962-01-08         4.03
...                 ...
2025-11-13         4.11
2025-11-14         4.14
2025-11-17         4.13
2025-11-18         4.12
2025-11-19         4.13

[16667 rows x 1 columns]

In [49]:
us_2_yield_df = pd.read_csv("D:\Macro Research\Data\Raw Data\DGS2.csv",parse_dates = ['observation_date'])
us_2_yield_df = us_2_yield_df.set_index('observation_date')
us_2_yield_df

                  DGS2
observation_date
1976-06-01        7.26
1976-06-02        7.23
1976-06-03        7.22
1976-06-04        7.12
1976-06-07        7.09
...                ...
2025-11-13        3.58
2025-11-14        3.62
2025-11-17        3.60
2025-11-18        3.58
2025-11-19        3.58

[12907 rows x 1 columns]

In [50]:
ind_10_yield_df = pd.read_csv("D:\Macro Research\Data\Raw Data\INDIRLTLT01STM.csv",parse_dates = ['observation_date'])
ind_10_yield_df = ind_10_yield_df.set_index('observation_date')
ind_10_yield_df

                  INDIRLTLT01STM
observation_date
2011-12-01                  8.56
2012-01-01                  8.24
2012-02-01                  8.19
2012-03-01                  8.37
2012-04-01                  8.59
...                          ...
2025-06-01                  6.31
2025-07-01                  6.35
2025-08-01                  6.52
2025-09-01                  6.59
2025-10-01                  6.48

[167 rows x 1 columns]

In [51]:
fixed_income_data = {"US_10_yield": us_10_yield_df,
                    "US_2_yield": us_2_yield_df,
                    "INC_10_yield": ind_10_yield_df}

# --- Path to Processed Data folder ---
base_path = os.path.abspath("..")  # move up from Notebooks/
save_folder = os.path.join(base_path, "Data", "Processed Data", "Fixed Income Data")
os.makedirs(save_folder, exist_ok=True)

# --- Save each valuation metric dataframe ---
for name, df_val in fixed_income_data.items():
    file_path = os.path.join(save_folder, f"{name}.csv")
    df_val.to_csv(file_path, index=True)

print("Saved all valuation metrics to:", save_folder)

Saved all valuation metrics to: D:\Macro Research\Data\Processed Data\Fixed Income Data

## Commodities Data Preprocessing

In [52]:
gold_usd_df = pd.read_excel("D:\Macro Research\Data\Raw Data\Bloomberg_data.xlsx",sheet_name='Sheet1', parse_dates = ['Date'])
gold_usd_df = gold_usd_df.set_index('Date')
gold_usd_df

            XAU BGN Curncy
Date
1920-01-30           20.68
1920-02-27           20.68
1920-03-31           20.68
1920-04-30           20.68
1920-05-31           20.68
...                    ...
2025-11-10         4115.76
2025-11-11         4126.85
2025-11-12         4195.39
2025-11-13         4171.52
2025-11-14         4167.54

[13719 rows x 1 columns]

In [53]:
silver_usd_df = pd.read_excel("D:\Macro Research\Data\Raw Data\Bloomberg_data.xlsx",sheet_name='Sheet2', parse_dates = ['Date'])
silver_usd_df = silver_usd_df.set_index('Date')
silver_usd_df

            XAG BGN Curncy
Date
1950-01-31          0.7330
1950-02-28          0.7330
1950-03-31          0.7310
1950-04-28          0.7180
1950-05-31          0.7260
...                    ...
2025-11-10         50.5104
2025-11-11         51.2213
2025-11-12         53.2485
2025-11-13         52.2971
2025-11-14         52.6226

[15061 rows x 1 columns]

In [54]:
crude_usd_df = pd.read_excel("D:\Macro Research\Data\Raw Data\Bloomberg_data.xlsx",sheet_name='Sheet5', parse_dates = ['Date'])
crude_usd_df = crude_usd_df.set_index('Date')
crude_usd_df

            CO1 Comdty
Date
1998-12-31       10.53
1999-01-04       10.96
1999-01-05       10.53
1999-01-06       11.46
1999-01-07       11.53
...                ...
2025-11-10       64.06
2025-11-11       65.16
2025-11-12       62.71
2025-11-13       63.01
2025-11-14       63.61

[6900 rows x 1 columns]

In [55]:
btc_df = pd.read_csv("D:\Macro Research\Data\Raw Data\BTCUSDT_1d_klines.csv",parse_dates = ['open_time'])
btc_df = btc_df.set_index('open_time')
btc_df

,open,high,low,close,volume,close_time,quote_volume,num_trades,taker_buy_base,taker_buy_quote,ignore
open_time,,,,,,,,,,,
2017-08-17,4261.48,4485.39,4200.74,4285.08,795.150377,2017-08-17 23:59:59.999,3.454770e+06,3427,616.248541,2.678216e+06,0
2017-08-18,4285.08,4371.52,3938.77,4108.37,1199.888264,2017-08-18 23:59:59.999,5.086958e+06,5233,972.868710,4.129123e+06,0
2017-08-19,4108.37,4184.69,3850.00,4139.98,381.309763,2017-08-19 23:59:59.999,1.549484e+06,2153,274.336042,1.118002e+06,0
2017-08-20,4120.98,4211.08,4032.62,4086.29,467.083022,2017-08-20 23:59:59.999,1.930364e+06,2321,376.795947,1.557401e+06,0
2017-08-21,4069.13,4119.62,3911.79,4016.00,691.743060,2017-08-21 23:59:59.999,2.797232e+06,3972,557.356107,2.255663e+06,0
...,...,...,...,...,...,...,...,...,...,...,...
2025-11-13,101654.37,104085.01,98000.40,99692.02,36198.507710,2025-11-13 23:59:59.999,3.654698e+09,8125404,17250.224260,1.742449e+09,0
2025-11-14,99692.03,99866.02,94012.45,94594.00,47288.144810,2025-11-14 23:59:59.999,4.566085e+09,9551025,21184.915180,2.045542e+09,0
2025-11-15,94594.00,96846.68,94558.49,95596.24,15110.893910,2025-11-15 23:59:59.999,1.449074e+09,4263558,7115.781980,6.823590e+08,0
2025-11-16,95596.23,96635.11,93005.55,94261.44,23889.405100,2025-11-16 23:59:59.999,2.261296e+09,5141394,10828.627520,1.025540e+09,0
2025-11-17,94261.45,96026.71,93767.27,95748.37,10637.438970,2025-11-17 23:59:59.999,1.013147e+09,2489848,4969.740590,4.734376e+08,0

In [56]:
commodity_data = {"GOLD": gold_usd_df,
                  "SILVER": silver_usd_df,
                  "CRUDE": crude_usd_df,
                  "BTC": btc_df}
base_path = os.path.abspath("..")
save_folder = os.path.join(base_path, "Data", "Processed Data", "Commodity Data")
os.makedirs(save_folder, exist_ok=True)
for name, df_val in commodity_data.items():
    file_path = os.path.join(save_folder, f"{name}.csv")
    df_val.to_csv(file_path, index=True)

print("Saved all commodity metrics to:", save_folder)

Saved all commodity metrics to: D:\Macro Research\Data\Processed Data\Commodity Data

## Equity Benchmark Data Preprocessing:

In [2]:
eq_bench_df = pd.read_csv('D:\Macro Research\Data\Raw Data\hist_prices_daily.csv', parse_dates = ['Date'])
eq_bench_df = eq_bench_df.set_index('Date')
eq_bench_df = eq_bench_df[[".SPX",".NSEI",".NIFSMCP100",".NIFMDCP100"]]
eq_bench_df

               .SPX     .NSEI  .NIFSMCP100  .NIFMDCP100
Date
1995-12-29   615.93       NaN          NaN          NaN
1996-01-01      NaN    908.01          NaN          NaN
1996-01-02   620.73    900.38          NaN          NaN
1996-01-03   621.32    895.96          NaN          NaN
1996-01-04   617.70    889.67          NaN          NaN
...             ...       ...          ...          ...
2025-11-10  6832.43  25574.35     18138.60     60124.25
2025-11-11  6846.61  25694.95     18101.40     60427.00
2025-11-12  6850.92  25875.80     18250.45     60902.30
2025-11-13  6737.49  25879.15     18183.65     60692.05
2025-11-14  6734.11  25910.05     18252.50     60739.20

[7854 rows x 4 columns]

In [3]:
us_index_df = eq_bench_df[".SPX"]
nifty_50 = eq_bench_df[".NSEI"]
nifty_mid = eq_bench_df[".NIFMDCP100"]
nifty_small = eq_bench_df[".NIFSMCP100"]

In [5]:
equity_benchmark_df = {"SP500": us_index_df,
                       "NIFTY50": nifty_50,
                       "NIFTYMid": nifty_mid,
                       "NIFTYSmall": nifty_small}
base_path = os.path.abspath("..")
save_folder = os.path.join(base_path, "Data", "Processed Data", "Equity Benchmark")
os.makedirs(save_folder, exist_ok=True)
for name, df_val in equity_benchmark_df.items():
    file_path = os.path.join(save_folder, f"{name}.csv")
    df_val.to_csv(file_path, index=True)

print("Saved all equity benchmark metrics to:", save_folder)

Saved all equity benchmark metrics to: D:\Macro Research\Data\Processed Data\Equity Benchmark